@model List<GNewsViewModel>

<div class="tc-post-list-style1">
    <div class="tc-post-title-style1">
        <a asp-action="Index" asp-controller="GNews"> ABD Basınından </a>
    </div>
    <div class="tc-post-overlay-default">
        <div class="img th-200 img-cover">
            <img src="assets/img/trend/4.png" alt="">
        </div>
        <div class="content ps-20 pe-20 pb-20 text-white">
            <a asp-action="Index" asp-controller="GNews"
               class="text-uppercase fsz-13px mb-1">tarafsız</a>
            <h4 class="title">
                <a asp-action="Index" asp-controller="GNews">Objektif Haberler</a>
            </h4>
        </div>
    </div>
    <div class="items">
        @foreach (var gNews in Model.OrderByDescending(m => m.CreatedDate).Take(3))
        {
            <a asp-action="Detail" asp-controller="GNews" asp-route-id="@gNews.Id" class="item hover-main">

            <a href="page-single-post-creative.html" class="item hover-main">
                <h2 class="num">
                    <div class="img th-100 img-cover">
                        <img src="@gNews.PictureUrl" alt="@gNews.Title">
                    </div>
                </h2>
                <div class="content">
                    <span class="fsz-12px color-999 text-uppercase mb-2">Objektif</span>
                    <h6 class="title">@gNews.Title</h6>
                </div>
            </a>            
               
            </a>
        }
        <a asp-action="Index" asp-controller="GNews" class="fsz-13px color-999  pt-30 pb-30">
            Tüm ABD Haberleri <i class="la la-angle-right"></i>
        </a>
    </div>
</div>