
<div class="col-lg-3">
    <div class="tc-side-widgets">
        <!-- widget-social -->
        <div class="tc-widget-social-style1">
            <p class="color-000 text-uppercase mb-30 ltspc-1 lh-2"> Takipte Kalın! </p>
            <div class="content">                
                <a href="http://x.com/erbildaphne" class="social-card">
                    <div class="icon twitter-icon">
                        <i class="lab la-twitter"></i>
                    </div>                    
                </a>                
                <a href="http://youtube.com/@@erbildaphne" class="social-card mb-0">
                    <div class="icon youtube-icon">
                        <i class="lab la-youtube"></i>
                    </div>                    
                </a>
                <a href="#" class="social-card mb-0">
                    <div class="icon spotify-icon">
                        <i class="lab la-spotify"></i>
                    </div>                    
                </a>
            </div>
        </div>
    </div>
</div>