@{
    ViewData["Title"] = "Hakkımızda";
}
@{
    Layout = "_LayoutNews";
}

<!-- ====== start about header ====== -->
<section class="tc-about-header">
    <div class="container">
        <div class="content">
            <div class="title">
                <h2> Hakkımızda </h2>
            </div>           
        </div>
    </div>
</section>
<!-- ====== end about header ====== -->
<!-- ====== start about-about ====== -->
<section class="tc-about-about">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6">
                <div class="img img-cover">
                    <img src="/template/assets/img/about_page/about.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-5">
                <div class="info mt-4 mt-lg-0">
                    <p class="fsz-13px color-999 text-uppercase mb-10"> 2023 </p>
                    <h2 class="fsz-30px mb-40"> Erbil & Daphne <br> ABD'Den Kuşbakışı </h2>
                    <div class="text fsz-14px color-666 mb-60">
                        Amerika ve Avrupa başkentlerinin lüks yaşam tarzına özel bir pencere açıyoruz. Şöhret, güç ve servetin parıldayan dünyasına odaklanarak, size olağanüstü erişim ve derin içgörüler sunuyoruz. Bilgilendirici ve eğlenceli bir deneyim sunarak dedikodu ve ipuçlarını zamanında haberlerle birleştiriyoruz.
                    </div>
                    <a href="#" class="butn bg-main text-white hover-shadow">
                        <span> İletişimde Kalın </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====== end about-about ====== -->
<!-- ====== start about-vision ====== -->
<section class="tc-about-vision">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-5">
                <div class="info mt-4 mt-lg-0">
                    <p class="fsz-13px color-999 text-uppercase mb-10"> İçeriklerimiz </p>
                    
                    <div class="text fsz-14px color-666 mb-20">
                       Özel Yazılar
                    </div>
                    <div class="text fsz-14px color-666 mb-40">
                        Kuşbakışı Söylentiler
                    </div>
                    <div class="text fsz-14px color-666 mb-40">
                        Taraflı Haberler
                    </div>                   
                </div>
            </div>
          
        </div>
    </div>
    <img src="/template/assets/img/about_page/pattern_1.png" alt="" class="pattern">
</section>
<!-- ====== end about-vision ====== -->

