@{
    ViewData["Title"] = "İletişim";
}
@{
    Layout = "_LayoutNews";
}


<!-- ====== start features posts ====== -->
<section class="tc-contact-info pt-50 pb-50">
    <div class="container">
        <div class="content">
            <p class="text-uppercase mb-15">İletişim</p>
            <div class="row justify-content-between">
                <div class="col-lg-5">
                    <h2> Geri bildirimlerinizi bekliyoruz. </h2>
                    <div class="social-icons mt-60">
                        <a href="x.com/erbildaphne"> <i class="la la-twitter"></i> </a>

                        <a href="youtube.com/@@erbildaphne"> <i class="la la-youtube"></i> </a>
                        <a href="#"> <i class="la la-spotify"></i> </a>
                    </div>
                </div>
                <div class="col-lg-3 mt-30 mt-lg-0">
                    <h5 class="sub-title fsz-24px mb-20 fw-bold"> İletişim </h5>
                    <ul>
                        <li class="mb-15"><a href="#">United States</a></li>



                        <li class="mb-15"><a href="#">edkusbakisi@@gmail.com</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- ====== end features posts ====== -->
<!-- ====== start contact image ====== -->
<!-- ====== end contact image ====== -->
<!-- ====== start contact form ====== -->
<section class="tc-contact-form pt-80 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 border-1 border-end brd-gray">
                <div class="contact-form-card">
                    <h4 class="fsz-24px text-capitalize mb-10">Bize Ulaşın</h4>
                    <p class="fsz-13px mb-30">Zorunlu alanlar <span class="text-danger">*</span> </p>
                    <form class="form" method="post" asp-action="Contact">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group mb-15">
                                    <input type="text" name="subject" class="form-control" placeholder="Konu ">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group mb-15">
                                    <textarea rows="6" name="message" class="form-control" placeholder="Mesajınızı buraya yazın"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mb-15">
                                    <input type="text" name="name" class="form-control" placeholder="Adınız ">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mb-15">
                                    <input type="text" name="email" class="form-control" placeholder="Email * ">
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn bg-main text-white rounded-0 mt-30">
                            <span class="fsz-11px">Gönder </span>
                        </button>
                    </form>
                </div>
            </div>

            @{
                Html.RenderPartial("_StayConnectedPartial");
            }

        </div>
    </div>
</section>
<!-- ====== end contact form ====== -->