@model erbildaphne.comMvcWebApp.Models.GNewsSourceViewModel

@{
    ViewData["Title"] = "CreateSource";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Kaynak Ekle</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>                      
           
            <div class="form-group">
                <label asp-for="Name" class="control-label">Kaynak Adı</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Side" class="control-label">Kaynak Tarafı</label>
                <select class="form-control" asp-for="Side">
                    <option value="">Kaynak Tarafı Seçiniz...</option>
                    <option>Left</option>
                    <option>Right</option>
                    <option>Center</option>
                </select>
                <span asp-validation-for="Side" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SiteUrl" class="control-label">Site Adresi</label>
                <input asp-for="SiteUrl" class="form-control" />
                <span asp-validation-for="SiteUrl" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label for="image" class="control-label">Kaynak Fotoğrafı: </label>
                <input name="image" class="form-control" type="file" placeholder="Fotoğraf seçiniz" />
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Listeye Dön</a>
</div>

