@model erbildaphne.comMvcWebApp.Models.UserRoleViewModel

@{
    Layout = "_Layout";
}

<h2>Assign Role to User</h2>

<form method="post" asp-action="Assign">
    <div class="form-group">
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RoleName" class="control-label"></label>
        <input asp-for="RoleName" class="form-control" />
        <span asp-validation-for="RoleName" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Assign</button>
</form>
