@model AuthorViewModel

<h4>Yazarı Düzenle</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form method="post" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group">
                <label asp-for="Name" class="control-label">Başlık:</label>
                <input asp-for="Name" class="form-control" placeholder="Başlık giriniz..." />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Açıklama: </label>
                <input asp-for="Description" class="form-control" placeholder="Başlık giriniz..." />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bio" class="control-label">İçerik: </label>
                <textarea asp-for="Bio" class="form-control" id="editor" placeholder="İçerik giriniz..."></textarea>
                <span asp-validation-for="Bio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instagram" class="control-label">Başlık:</label>
                <input asp-for="Instagram" class="form-control" placeholder="Tam adres giriniz..." />
                <span asp-validation-for="Instagram" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Website" class="control-label">Başlık:</label>
                <input asp-for="Website" class="form-control" placeholder="Tam adres giriniz..." />
                <span asp-validation-for="Website" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Linkedin" class="control-label">Başlık:</label>
                <input asp-for="Linkedin" class=" form-control" placeholder="Tam adres giriniz..." />
                <span asp-validation-for="Linkedin" class=" text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Facebook" class="control-label">Başlık:</label>
                <input asp-for="Facebook" class="form-control" placeholder="Tam adres giriniz..." />
                <span asp-validation-for="Facebook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="image" class="control-label">Haber Fotoğrafı: </label>
                <input name="image" class="form-control" type="file" placeholder="Fotoğraf seçiniz" />
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-success" />
                <div class="mt-3">
                    <a asp-controller="Author" asp-action="List" class="btn btn-secondary">Listeye Dön</a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="https://cdn.ckeditor.com/ckeditor5/40.2.0/classic/ckeditor.js"></script>
        <script>
            ClassicEditor
                .create(document.querySelector('#editor'))
                .catch(error => {
                    console.error(error);
                });
        </script>

    }
}