@{
    Layout = "_Layout";
}
<div class="row">
    <div class="col-lg-5 mx-auto">
        <div>
            <a asp-action="List" asp-controller="Author" class="btn btn-primary">Yazar İşlemleri</a>
        </div>
        <div>
            <a asp-action="List" asp-controller="Write" class="btn btn-primary">Yazı İşlemleri</a>
        </div>
        <div>
            <a asp-action="List" asp-controller="Rumor" class="btn btn-primary">Söylenti İşlemleri</a>
        </div>
        <div>
            <a asp-action="List" asp-controller="GNews" class="btn btn-primary">Haber İşlemleri</a>
        </div>
        <div>
            <a asp-action="List" asp-controller="Source" class="btn btn-primary">Haber Kaynağı İşlemleri</a>
        </div>
        
    </div>
</div>